@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

  .information-container{
    @apply bg-[#1f1f1f] px-10 py-8;
  }
  .information-container h1{
    @apply text-lg text-white font-bold my-5;
  }
  .information-container h2{
    @apply text-xs text-white;
  }
  .information-container h3{
    @apply text-xs text-[#989898] mb-5;
  }
  .loader-container{
    display: none;
  }
  .htmx-request.loader-container {
    display: flex;
  }

  :root {
    --gap: 20px; /* Gap between items */
    --gap2: 80px; /* Gap between items */
    --items: 1; /* Default number of items visible */
  }

  @media (min-width: 768px) { /* md breakpoint */
    :root {
    --items: 3;
    }
  }

  @media (min-width: 1024px) { /* lg breakpoint */
    :root {
    --items: 4;
    }
  }

  @media (min-width: 1280px) { /* xl breakpoint */
    :root {
    --items: 5;
    }
  }

  .carousel-container ul {
    gap: var(--gap);
  }

  .carousel-container li {
    flex: 0 0 calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
  }

  @media (max-width: 767px) { /* Screens smaller than 768px */
    .carousel-container li {
        flex: 0 0 200px; /* Fixed width of 200px */
    }
    }
}

@layer utilities{
  .hide-last-word {
    --line-height: 22;
    --link-length: 4;
    --one-ch: 8;
    --fade-direction: 270deg;
    word-break: break-word;
    position: relative;
    -webkit-mask: linear-gradient(0deg,transparent 0,transparent calc(var(--line-height) * 1px),#000 calc(var(--line-height) * 1px)),linear-gradient(var(--fade-direction),transparent 0,transparent calc((var(--link-length) * var(--one-ch)) * 1px),#000 calc(((var(--link-length) * var(--one-ch)) + (var(--line-height) * 2)) * 1px));
    mask: linear-gradient(0deg,transparent 0,transparent calc(var(--line-height) * 1px),#000 calc(var(--line-height) * 1px)),linear-gradient(var(--fade-direction),transparent 0,transparent calc((var(--link-length) * var(--one-ch)) * 1px),#000 calc(((var(--link-length) * var(--one-ch)) + (var(--line-height) * 2)) * 1px));
    -webkit-mask-size: initial,initial;
    mask-size: initial,initial;
    -webkit-mask-position: right bottom;
    mask-position: right bottom;
    z-index: 1
  }   
  /* Reusable class to hide the scrollbar */
  .no-scrollbar {
    @apply overflow-x-auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  /* For Webkit-based browsers (Chrome, Edge, Safari) */
  .scrollbar::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #363636; /* Track color */
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Scroll thumb color */
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scroll thumb hover color */
  }
  /* loader */
  :root {
    --bar-width: 5%;
    --bar-height: 14%;
    --bar-color: rgb(128, 128, 128);
  }
  
  
  
  .loader div {
    width: var(--bar-width);
    height: var(--bar-height);
    background: var(--bar-color);
    position: absolute;
    left: 50%;
    top: 45%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade458 1s linear infinite;
  }
  
  /* Assign each bar's rotation and delay */
  .loader div:nth-child(1)  { transform: rotate(0deg) translate(0, -130%);  animation-delay: 0s; }
  .loader div:nth-child(2)  { transform: rotate(30deg) translate(0, -130%); animation-delay: -0.916s; }
  .loader div:nth-child(3)  { transform: rotate(60deg) translate(0, -130%); animation-delay: -0.833s; }
  .loader div:nth-child(4)  { transform: rotate(90deg) translate(0, -130%); animation-delay: -0.75s; }
  .loader div:nth-child(5)  { transform: rotate(120deg) translate(0, -130%); animation-delay: -0.666s; }
  .loader div:nth-child(6)  { transform: rotate(150deg) translate(0, -130%); animation-delay: -0.583s; }
  .loader div:nth-child(7)  { transform: rotate(180deg) translate(0, -130%); animation-delay: -0.5s; }
  .loader div:nth-child(8)  { transform: rotate(210deg) translate(0, -130%); animation-delay: -0.416s; }
  .loader div:nth-child(9)  { transform: rotate(240deg) translate(0, -130%); animation-delay: -0.333s; }
  .loader div:nth-child(10) { transform: rotate(270deg) translate(0, -130%); animation-delay: -0.25s; }
  .loader div:nth-child(11) { transform: rotate(300deg) translate(0, -130%); animation-delay: -0.166s; }
  .loader div:nth-child(12) { transform: rotate(330deg) translate(0, -130%); animation-delay: -0.083s; }
  
  @keyframes fade458 {
    from { opacity: 1; }
    to { opacity: 0.25; }
  }
  
}